
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Playfair+Display:ital,wght@0,400;0,600;1,600&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #F8F3E6; /* cream */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.logo {
  text-align: center;
  line-height: 0.8;
}


.logo .zoe {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 120px;
  color: #6A3355; 
  letter-spacing: 2px;
}


.logo .reese {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 95px;
  color: #9CB36B; 
  font-style: italic;
  letter-spacing: 1px;
}
